body {
  //background-color: #49785e;
  background-color: #106735;
  color: white;
}

# Link colours
a:link { color: white; text-decoration: underline; }
a:visited { color: white; }
a:hover { color: white; }
a:active { color: white; }

.attribution {
  width: 500px;
}
