body {
  //background-color: #49785e;
  background-color: #106735;
  color: white;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a:link { color: white; text-decoration: none; }
a:visited { color: white; }
a:hover { color: #d0af60; }
a:active { color: white; }

########################################
# Main Menu
########################################

.footer {
  background-color: #006622;
}

.menu {
  position: absolute;
  z-index: -100000000;
  width: 100%;
  height: 40;
  bottom: 0px;
  background-color: #009231;
}

.centered {
	margin-left:auto;margin-right:auto
}

########################################
# About page
########################################

.attribution {
  width: 500px;
}

IMG.spreadsheet {
  width: 300px;
  height: 200px;
}

IMG.screenshot {
  width: 300px;
  height: 200px;
}

########################################
# A streetview box
########################################

.map-canvas {
  width: 350;
  height: 245;
}

.entry_dropbox {
  width: 400;
  height: 300;
  background-image: url("images/6x4_drop_shadow.png");
  background-size: 100%;
}

.entry {
  float: left;
  margin: 30px;
  position: relative;
  width: 350;
  height: 245;
  background-color: #106735;
}

.entry_description_ribbon {
  position: absolute;
  background-color: black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  width: 100%;
  height: 50px;
  bottom: 30px;
  z-index: 10000000;
}

.entry_description {
  position: absolute;
  background-color: clear;
  width: 100%;
  height: 30px;
  text-align: center;
  bottom: 45px;
  z-index: 10000001;
}

.entry_price_ribbon {
  position: absolute;
  width: 180px;
  height: 28px;
  bottom: 160px;
  left: 220px;
  z-index: 10000002;
  text-weight: bold;
  font-size: 150%;

  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.entry_price_gold {
  background-color: #d0af60;
}

.gold_border {
  border: 5px solid #d0af60;
}

.entry_price_red {
  background-color: #ee0000;
}

.red_border {
  border: 5px solid #ee0000;
}

.entry_price_white {
  background-color: white;
  color: black;
}

.white_border {
  border: 5px solid white;
}

.entry_price_green {
  background-color: #009231;
}

.green_border {
  border: 5px solid #009231;
}

####################
# API page
####################

.api_endpoint {
  font-weight: bold;
}

.api_description {
  font-style: italic;
}

.api_example {
  font-weight: lighter;
}
